body {
    background-image: url('../images/background.png');
    background-size: cover;
    height: 20%;
}


.navbar-brand img{
    width: 60px;

}

.image-bird img, .image-body img, .image-eyes img {
    width: 90%;
    padding:  20% auto;
}

.mini-logo {
    width: 78%;
    margin-bottom: 34px;
    margin-top: 46px;
}

.btn-blue {
    background-repeat: repeat;
    background-image: url('../images/background_btn_blue.png');
    border-radius: 0;
    color: #ffffff;
    font-size: 10pt;
    padding: 10px 20px !important;
    margin: 4px;

}

.btn-brown {
    background-image: url("../images/background_btn_brown1.png");
    border-radius: 0;
    font-size: 10pt;
    color: #ffffff;
    padding: 10px 20px !important;
    margin: 4px;
}

@font-face {
    font-family: Aller-Rg;
    src: url('../fonts/Aller_Rg.ttf');
}

@font-face {
    font-family: Nota-Medium;
    src: url('../fonts/Nota-Medium.otf');
}

@font-face {
    font-family: Prime-Regular;
    src: url('../fonts/Prime Regular.otf');
}

.content-title {
    font-family: Prime-Regular;
    font-size: 25pt;
    color: #ffffff;
    margin-bottom: 30px;
    margin-top: 50px;
}

.content-description {
    color: #ffffff;
    font-family: Prime-Regular;
    font-size: 12pt;
    line-height: 18pt;
    letter-spacing: 1.5pt;
}

/* Responsive : SmartPhone Mode */

@media screen and (max-width: 600px) {

    .image-bird img, .image-body img, .image-eyes img {
        width: 50% !important;
    }

    .mini-logo {
        width: 71%;
        margin-bottom: 10px;
        margin-top: 8px;
    }

.navbar-collapse{background-color:#dc3545;}

    .content-title {
        ont-family: Prime-Regular;
        font-size: 20pt;
        color: #ffffff;
        margin-bottom: 16px;
        margin-top: 16px;
    }

    .navbar-brand img{
        width: 42px;

    }

    .content-description {
        color: #ffffff;
        font-family: Prime-Regular;
        font-size: 15px;
        line-height: 18pt;
        text-align: justify;
        letter-spacing: 1.5pt;
    }

    html, body {
        padding-top: 30px;
        overflow:hidden  !important;
    }

    .btn-blue {
        font-size: 9pt;
        font-weight: 700;
        padding: 10px 6px !important;
        margin: 4px;
    }

    .btn-brown {
        font-size: 9pt;
        font-weight: 700;
        color: #ffffff;
        padding: 10px 3px !important;
        margin: 4px;
    }


}


